html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.nav-bar{
    background-color : aqua;
    font-family :sans-serif;
    font-size :large
}

#nav {
    color:#fff 
}
header{
color:#fff;
}