 @using IdentityBlogingWebsite.Models
 @model Post
 <div class="container">
<div class="w3-card-4 w3-margin w3-white">
    <img src="/images/@Model.Image" alt="Nature" style="width:100%">
    <hr />
    <div class="w3-container">
      <h3><b>@Model.Title</b></h3>
        <hr />
      <h5>@Model.SubTitle <span class="w3-opacity">@*@Model.Date*@</span></h5>
      <hr/>
            <span class="w3-opacity">@Model.Date</span>
    </div>
      <hr />
    <div class="w3-container">
      <p>@Model.Content</p>
    </div>
  </div>
  </div>